@CHARSET "UTF-8";
@import "mysite.css";

#gallery			{ margin:20px auto;	width:540px; }

#gallery form, 
#gallery table	{ width:100% }

#gallery table,	
#gallery table td { border:1px solid #333 }
#gallery table td { padding:5px }

#gallery ul		{ width:100%; margin-top:20px }
#gallery ul li	{ width:100%; margin-top:10px }

#gallery ul	{
	width:100%;
	clear:both;
}

#gallery ul li {
	position:relative;
	float:left;
	width:114px;
	height:114px;
	padding:2px;
	margin:0 0 10px 10px;
	border:1px solid #c0c0c0;
	background-color:#e9e9e9;
	overflow:hidden;
}


#gallery ul li img {
	width:114px;
	
	background-size: 114px;
	background-repeat: no-repeat;
	background-position: center center;
}